* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  /* Background Color */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: #c42929;

  /* Text Color */
  --text-primary-color: #f0f0f0;

  /* Spacing Variables*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border Colors */
  --border-primary-color: #333333;

  /* Redius */
  --redius-xs: 4px;
  --redius-sm: 8px;
  --redius-md: 12px;
  --redius-lg: 16px;
  --redius-xl: 20px;
  --redius-2xl: 24px;
  --redius-3xl: 36px;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main,
section {
  width: 100%;
  height: 100%;
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  height: 100%;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--redius-sm);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  /* width: 30px;
  height: 30px; */
  border: 1px solid var(--border-primary-color);
}

.fill{
  background-color: var(--bg-fill-color);
}